[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
tensorflow-hub = "*"
pandas = "*"
xgboost = "*"

[requires]
python_version = "3.6"
